In [2]:
import pandas as pd
import numpy as np
import time

In [3]:
start_time = time.time()

In [4]:
# the site: https://www.boliga.dk/salg/resultater?searchTab=1&page=1d&sort=date-d  ===> number of pages 1 - 35928

df1_list = []
for i in range(1, 5000):   # should be changed once downloeded as we get timed out if we take all 35000 pages in one go
    url_head = "https://www.boliga.dk/salg/resultater?searchTab=1&page=%d&sort=date-d" %i
    df1_list.append(pd.read_html(url_head)[0])

df1 =pd.concat(df1_list)

In [5]:
# checking

df1.head(3)

,Boligtype & Adresse,KÃ¸besum,Dato & Type,mÂ² & Kr. / mÂ²,VÃ¦r.,ByggeÃ¥r,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7
0,Villa VVilla Haretoften 3 7500 Holstebro,79.000 kr.,21-01-1994Alm. Salg,162 mÂ² 488 kr/mÂ²,5,1994,NaN,Aktuel vÃ¦rdi
1,Villa VVilla Brandholms Alle 65 2610 RÃ¸dovre,952.467 kr.,21-01-1994Alm. Salg,135 mÂ² 7.055 kr/mÂ²,6,1961,NaN,Aktuel vÃ¦rdi
2,RÃ¦kkehus RRÃ¦kkehus Agtoftsvej 56 6400 SÃ¸nd...,340.000 kr.,20-01-1994Alm. Salg,60 mÂ² 5.667 kr/mÂ²,2,1963,NaN,Aktuel vÃ¦rdi

In [6]:
# checking

df1.shape

(44450, 8)

In [7]:
# saving to folder

df1.to_csv(r'C:\Users\ your own path \DK_housingprices81.csv', index=False)

In [8]:
end_time = time.time()
print("Execution time: ", end_time - start_time,"secs")

Execution time:  3866.23485827446 secs